.page-home {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 210px;
	margin: -150px 0 0;

	.me {
		max-width: 940px;
		margin: 0 auto;
		padding: $grid-column-gutter $grid-column-gutter/2 0;
		color: $black;
		text-align: left;
	}
	.avatar-wrapper {
		float: left;
		width: 64px;
		margin-right: 1em;
		@include breakpoint(medium) {
			width: 100px;
		}

		.avatar {
			width: 100%;
			height: 0;
			padding-top: 100%;
			border-radius: 100%;
			border: 1px solid $border-grey;
			background-size: cover;
		}
	}
	.name {
		font-size: 1.75em;
	}
	nav {
		position: relative;
		margin-top: $grid-column-gutter;
		padding: $grid-column-gutter/2 0;
		clear: both;
		width: 100%;
		z-index: 0;
		@include breakpoint(medium) {
			top: -15px;
			margin-top: 0;
			padding: 0;
			background: rgba(255,255,255,0.3);
		}
	}
}

.home-nav {
	text-align: center;
	text-transform: uppercase;
	margin: 0;

	.icon {
		width: 32px;
		height: 32px;
		line-height: 32px;
		margin-right: 0.5em;
		border-radius: 100%;
		color: $white;
		vertical-align: middle;
		background: $black;
		transition: all 800ms ease-in-out;
	}
	a {
		float: left;
		color: $black;
		opacity: 0.8;
		transition: all 800ms ease-in-out;
	
		&:hover {
			opacity: 1;
			text-shadow: 1px 1px #666;

			.fa-linkedin {
				background: #0077B5;
			}
			.fa-weibo {
				background: #e92e00;
			}
			.fa-github {
				background: #000000;
			}
			.fa-500px {
				background: #00AEEF;
			}
		}
	}
	li {
		padding: $grid-column-gutter/2 $grid-column-gutter/2 $grid-column-gutter/2 $grid-column-gutter/2+78;

		@include breakpoint(medium) {
			display: inline-block;
			vertical-align: middle;
			margin: $grid-column-gutter 0;
			padding: 0 $grid-column-gutter;
		}

		+ li {
			margin-top: 1px;
			background: rgba(255,255,255,0.3);

			@include breakpoint(medium) {
				margin-top: $grid-column-gutter;
				border-top: none;
				border-left: 1px solid rgba(0,0,0,0.1);
				background: none;
			}
		}
	}
}