.page-body {
  margin-top: 50px;
  padding-top: 3em;
}
.page-body {
  height: 100%;
  overflow-y: auto;
}
.page-section {
  min-height: 500px;
}
footer nav {
  background: #fff;
}
.primary-nav {
  background: #428bca;
}
.primary-nav .nav {
  height: 50px;
}
.primary-nav .nav li {
  margin: -2em 5px 0;
}
.primary-nav .nav a {
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  height: 4em;
  width: 6em;
  padding: 2.5em 0 0;
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
}
.primary-nav .nav a:hover {
  color: #eeeeee;
  background: transparent;
}
.primary-nav .nav .active > a {
  height: 6em;
  background: #428bca;
}
.blocklist {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
}
.blocklist-item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .blocklist-item {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .blocklist-item {
    float: left;
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .blocklist-item:nth-child(3n+1) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .blocklist-item:nth-child(4n+1) {
    clear: left;
  }
}
.blocklist-image {
  text-align: center;
}
.blocklist-image img {
  width: auto !important;
  height: 200px !important;
}
.blocklist .has-hover-state {
  padding: 0.6em 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: #eeeeee;
}
.blocklist .has-hover-state .hover-state {
  -webkit-transition: bottom 100ms ease-out;
  transition: bottom 100ms ease-out;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 100%;
  background: #999999;
}
.blocklist .has-hover-state:hover .hover-state {
  bottom: 0;
}
