.page-body {
  padding-top: 8em;
}
.page-body {
  overflow-y: auto;
}
.page-section {
  margin-bottom: 30px;
}
/* Social Icons */
.sns-icon-linkedin {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999em;
  overflow: hidden;
  background: transparent url("../img/social-icons.png") scroll no-repeat 0 0;
}
.sns-icon-flickr {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999em;
  overflow: hidden;
  background: transparent url("../img/social-icons.png") scroll no-repeat -16px 0;
}
.sns-icon-twitter {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999em;
  overflow: hidden;
  background: transparent url("../img/social-icons.png") scroll no-repeat -32px 0;
}
.primary-nav-wrapper {
  background: #428bca;
}
.primary-nav-wrapper .navbar-brand {
  color: #fff;
}
.primary-nav {
  height: 50px;
}
.primary-nav li {
  margin: -2em 5px 0;
}
.primary-nav a {
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  height: 4em;
  width: 6em;
  padding: 2.5em 0 0;
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
}
.primary-nav a:hover {
  color: #eeeeee;
  background: transparent;
}
.primary-nav .active > a {
  height: 6em;
  background: #428bca;
}
@media (max-width: 991px) {
  .primary-nav-wrapper .sns-links {
    text-align: center;
  }
  .primary-nav-wrapper .sns-links li {
    display: inline-block;
  }
}
.primary-nav-wrapper .sns-links a {
  opacity: 0.7;
  color: #fff;
}
.primary-nav-wrapper .sns-links a:hover {
  opacity: 1;
  background-color: transparent;
}
.repository-list {
  margin-bottom: 3em;
}
.repository-list li {
  margin: 0;
  padding: 0;
  background: #eeeeee;
}
.repository-name {
  padding: 1em 25px;
  background: #eeeeee;
}
.repository-name h2 {
  margin-top: 10px;
  font-size: 1.4em;
}
.repository-description {
  padding: 1em 25px;
  background: #ffffff;
}
