extends ../base.jade

block page
	.page-home
		.me 
			.avatar-wrapper
				.avatar(style="background-image: url(img/avatar.jpg);")
			h1.name Jennie Ji
			p.description Web Developer &amp; Photographer
		nav
			ul.home-nav
				li
					a(href='https://github.com/JennieJi', target='blank')
						span.icon.fa.fa-github
						| Programming
				li
					a(href='https://500px.com/nexusjennie', target='blank') 
						span.icon.fa.fa-500px
						| Photography
				li
					a(href='http://weibo.com/jy721', target='blank')
						span.icon.fa.fa-weibo
						| Weibo
				li
					a(href='https://sg.linkedin.com/in/jennieji', target='blank')
						span.icon.fa.fa-linkedin
						| Resume