doctype html
html(lang="en")
	head
		if subtitle
			title= "Jennie's | #{subtitle}"
		else
			title= "Jennie's"
			
		// build:css css/vendor.css
		// bower:css
		// endbower
		link(href='css/main.css')
		// endbuild

	<!--[if lt IE 8]>
	<body class="lt-ie8">
	<![endif]-->
	<!--[if IE 8]>
	<body class="ie8">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<body>
	<!--<![endif]-->
	.page
		block page

	// build:js js/main.js
	// bower:js
	script(src='../bower_components/jquery/dist/jquery.js')
	script(src='../bower_components/what-input/what-input.js')
	// endbower
	// endbuild

	</body>